@font-face {
  font-family: 'poppins'; 
  src: url('./src/font/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: 'light'; 
  src: url('./src/font/Roboto-Light.ttf');
}

@font-face {
  font-family: 'medium'; 
  src: url('./src/font/Roboto-Medium.ttf'); 
}

@font-face {
  font-family: 'italic'; 
  src: url('./src/font/Roboto-LightItalic.ttf'); 
}

.heading {
  font-family: 'poppins';
  font-size: 3em;
  color: #333333;
  width: 100%;
}

.headingBig {
  font-family: 'poppins';
  font-size: 3em;
  color: #333333;
  width: 100%;
  margin: 10rem 0;
}

.body {
  font-family: 'light';
  font-size: 1em;
  color: #333333;
}

.leftText {
  text-align: left;
}

.rightText {
  text-align: right;
}

body,
html {
  height: 100%;
  color: #333333;
  background-color: white;
  margin: 0px;
  padding: 0;
}

a:link {
  color: #333333;
  text-decoration: none
}
a:visited {
  color: #333333;
  text-decoration: none
}
a:hover {
  color: #333333;
  text-decoration: underline;
}
a:active {
  color: #333333;
  text-decoration: none
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
} 

.nav-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 1rem 0;
  align-items: center;
  font-size: 1.2em;
  z-index: 100;
  background-color: white;
}

.navHome {
  font-family: 'poppins';
  margin-left: 5%;
}

.navLinks {
  font-family: 'light';
  margin-right: 5%;
}

.spacer {
  height: 4rem;
}


.mainContainer {
  height: 100%;
  width: 100%;
}


.panel {
  height: 100%;
  width: 100%;
}
.panel.green {
  margin-bottom: 400px
}

.blue {
  background-color: white;
}

.turqoise {
  background-color: turquoise;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}

.fullPageFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10% 5%;
}

.floaterLeft {
  position: relative;
  top: 20%;
  left: 10%;
}

.floaterRight {
  position: relative;
  top: 20%;
  right: 10%;
}

.imgContainer {
  height: 800px;
  margin: 3rem 0;
}

.imgContainerFull {
  margin: 3rem 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.desc {
  font-family: 'medium';
  font-size: 0.8rem;
}

.credit {
  font-family: 'italic';
  font-size: 0.8rem;
}