@font-face {
  font-family: 'poppins'; 
  src: url('./src/font/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: 'light'; 
  src: url('./src/font/Roboto-Light.ttf');
}

@font-face {
  font-family: 'medium'; 
  src: url('./src/font/Roboto-Medium.ttf'); 
}

@font-face {
  font-family: 'regular'; 
  src: url('./src/font/Roboto-Regular.ttf'); 
}

@font-face {
  font-family: 'italic'; 
  src: url('./src/font/Roboto-LightItalic.ttf'); 
}
.heading {
  font-family: 'poppins';
  font-size: 3em;
  color: #333333;
  width: 100%;
}

.aboutLinks {
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.aboutLink {
  font-family: 'poppins';
  font-size: 1.5em;
  color: #333333;
  width: 100%;
  display: flex;
  align-items: center;
}

.subHeading {
  font-family: 'regular';
  font-size: 1.2em;
  color: #333333;
  width: 100%;
  margin-top: -0.25rem;
  margin-bottom: 1.5rem;
}

.librariesContainer {
  margin-bottom: 1rem;
}

.headingBig {
  font-family: 'poppins';
  font-size: 3em;
  color: #333333;
  width: 100%;
  margin: 10rem 0;
}

.libraries {
  font-family: 'medium';
  font-size: 0.9em;
  color: #333333;
}

.librariesLight {
  font-family: 'light';
  font-size: 1em;
  color: #333333;
}

.body {
  font-family: 'light';
  font-size: 1em;
  color: #333333;
}

.navLogo {
  height: 18px;
  margin-right: -6px;
}

.leftText {
  text-align: left;
}

.centerText {
  text-align: center;
}

.rightText {
  text-align: right;
}

.spacerBottom {
  height: 200px;
}

body,
html {
  height: 100%;
  color: #333333;
  background-color: white;
  margin: 0px;
  padding: 0;
}

body[data-aos-duration='4000'] [data-aos], [data-aos][data-aos][data-aos-duration='4000']{
  transition-duration: 4000ms;
}

a:link {
  color: #333333;
  text-decoration: none
}
a:visited {
  color: #333333;
  text-decoration: none
}
a:hover {
  color: #333333;
  text-decoration: underline;
}
a:active {
  color: #333333;
  text-decoration: none
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
} 

.nav-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  padding: 1rem 0;
  align-items: center;
  z-index: 100;
  background-color: white;
}

.navHome {
  font-family: 'poppins';
  font-size: 1.5em;
  margin-left: 5%;
}

.navCurrent {
  font-family: 'light';
  font-size: 0.9em;
}

.navLinks {
  font-family: 'light';
  font-size: 1em;
  margin-right: 5%;
}

.navLinks>*:last-child {
  margin-left: 1rem;
}

.navLinks>*:not(:last-child) {
  margin: 1rem;
}

.spacer {
  height: 3rem;
}


.mainContainer {
  height: 100%;
  width: 100%;
}


.panel {
  height: 100%;
  width: 100%;
}
.panel.green {
  margin-bottom: 400px
}

.blue {
  background-color: white;
}

.turqoise {
  background-color: turquoise;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}

.fullPageFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 5% 15rem 5%;
}

.videoContainer {
  display: flex;
  justify-content: flex-end;
}

.flexImgContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
}

.floaterLeft {
  position: relative;
  top: 20%;
  left: 10%;
}

.floaterRight {
  position: relative;
  top: 20%;
  right: 10%;
}

.imgContainer {
  /* height: 800px; */
  width: 47%;
  margin: 3rem 0;
}

.imgContainerHeader {
  width: 60%;
  margin: 3rem 0;
}

.imgContainerFull {
  width: 100%;
  margin: 3rem 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.desc {
  font-family: 'medium';
  font-size: 0.8rem;
}

.credit {
  font-family: 'italic';
  font-size: 0.8rem;
}

.navIcon {
  height: 22px;
}

#vrview {
  width: 100%;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 620px;
  padding: 5%;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  padding: 5%;
}

.descSide {
  display: flex;
  flex-direction: column;
}

.projectSide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: #3b6c70;
}

.green {
  background-color: #447e61;
}

.orange {
  background-color: #dc9039;
}

.projectPreviewContainer {
  padding: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectPreviewContainer>a>img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  border-radius: 0.5rem;
  max-height: 600px;
  box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.25);
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 0.9rem;;
  }
  .aboutLinks {
    height: 275px;
  }
}

@media screen and (max-width: 900px) {
 html {
   font-size: 0.8rem;;
 }
 .projectPreviewContainer>a>img {
  max-height: 500px;
 }
 .aboutLinks {
  height: 250px;
}
}

@media screen and (max-width: 850px) {
  .nav-wrapper {
    flex-direction: column;
  }
  .projectContainer {
    flex-direction: column;
    margin-top: 3rem;
  }
  .aboutContainer {
    flex-direction: column;
    margin-top: 5rem;
  }
  .descSide {
    margin-bottom: 2rem;
  }
  .descSide * {
    text-align: center;
  }
  .aboutLinks {
    margin-right: 0;
    height: 200px;
  }
 }

 @media screen and (max-width: 700px) {
  html {
    font-size: 0.7rem;;
  }

 }